---
import InstagramLogo from '@/icons/Instagram_Logo.astro'
import GitHubLogo from '@/icons/GitHub_Logo.astro'
import FacebookLogo from '@/icons/Facebook_Logo.astro'

interface Props {
	img: string;
	name : string;
  lider : string;
  rol: string;
  insta: string;
  github: string;
  facebook: string;
  description: string;
  teamColor: string;
}

const {img, name, lider, rol, insta, github, facebook, description, teamColor} = Astro.props;
---
  
<style define:vars={ {teamColor} }>
  @keyframes aparecerDesdeArriba {
	  from {
		  opacity: 0;
	  }
	  to {
		  opacity: 1;
	  }
	}
	
  .main {
    animation: aparecerDesdeArriba 3s ease-out;
    display: flex;
    flex-direction: column; /* Cambiamos la dirección a columna en dispositivos pequeños */
    border-radius: 24px;
    background: #2B2B2B;
    border-radius: 24px;
  }
  .imagen {
    max-width: 100%;
    height: auto;
    border-radius: 24px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
  }
  .contenido {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.536%; 
    padding: 20px; /* Añadimos un poco de espacio alrededor del contenido */
  }
  .nombrelimite {
    color: rgba(101, 88, 250, 0.92);
    font-family: Ubuntu;
    font-size: 30px; /* Ajustamos el tamaño del nombre para dispositivos pequeños */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .nombre{
    color: #FFD02A;
    font-family: Ubuntu;
    font-size: 30px; /* Ajustamos el tamaño del nombre para dispositivos pequeños */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .lider{
    color: rgba(255, 255, 255, 0.92);
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .rol{
    color: rgba(255, 255, 255, 0.92);
    font-family: Ubuntu;
    
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .insta {
        cursor: pointer;
    }
    .git {
        cursor: pointer;
    }
    .facebook {
        cursor: pointer;
    }
    .teamImg{
        width: 15px;
        height: 15px;
        background-color: var(--teamColor);
        border-radius: 50%;
        position: static;
    }
  @media only screen and (min-width: 800px) {
    /* Estilos específicos para dispositivos con un ancho mínimo de 600px */
    .main {
      flex-direction: row; /* Cambiamos la dirección a fila para dispositivos más grandes */
    }
    .contenido {
      font-size: 18px; /* Ajustamos el tamaño del texto para dispositivos más grandes */
    }
    .nombrelimite, .nombre {
      font-size: 40px; /* Restauramos el tamaño del nombre para dispositivos más grandes */
    }
    .lider {
      font-size: 25px; /* Restauramos el tamaño del nombre para dispositivos más grandes */
    }
    .imagen {
      max-width: 40%;
      height: auto;
      border-radius: 24px;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;    
    }
    .teamImg{
        width: 20px;
        height: 20px;
        background-color: var(--teamColor);
        border-radius: 50%;
        position: static;
    }
    
  }
</style>
<div class="main">
  <img class="imagen" src={img} >
  <div class="contenido">
    <h2>
      <span class="nombrelimite">&lt;/</span>
      <span class="nombre">{name}</span>
      <span class="nombrelimite">/&gt;</span>
    </h2>
    <div style="display: flex; align-items: center; ">
      <!--<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
        <circle cx="15" cy="15" r="15" fill="#FFD02A"/>
      </svg> -->
      <div class = "teamImg"> </div>
      <p class="lider" style="margin-left: 10px;">{lider}</p>
    </div>
    <h3 class = "rol"> {rol}</h3>
    <p class="contenido">{description}</p>
    <div style="display: flex; align-items: center; ">
      <a href = {insta} class="insta" target="_blank">
        <InstagramLogo/>
      </a>
      <a href = {github} class="git" target="_blank">
        <GitHubLogo />
      </a>
      <a href = {facebook} class="facebook" target="_blank">
        <FacebookLogo />
      </a>
    </div>
  </div>
</div>
